:root {
  --red: #ff0000;
  --lightRed: #a86561;
  --darkRed: #a6332e;
  --lightGold: #eace83;
  --gold: #efbc2f;
  --goldGradient: linear-gradient(to top, var(--lightGold), var(--gold));
}

body {
  background-color: var(--lightRed);
  padding-top: 10px;
}

.button {
  color: var(--gold);
  background-color: var(--darkRed);
  border: 2px solid var(--gold);
  border-radius: 7px;
  font-weight: 600;
  min-width: 5em;
}
.button:hover,
button:focus,
button:active {
  color: var(--darkRed);
  background-color: var(--gold);
  border: 2px solid var(--darkRed);
}
